

.container {
  text-align: center;
  margin-top: 3rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #f8f8f8;
  color: #333;
  font-weight: bold;
}

